{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Videos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/mystyles/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/mystyles/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header__logo">
            <a href="#">
                <img src="{% static 'assets/myimages/header/hamburger.png' %}" alt="navigation button"
                     class="header__hamburger-logo">
            </a>
            <a href="#">
                <img style="margin-left: 20px" width=200 height=40 src="{% static 'assets/img/logolast.png' %}"
                     alt="YouTube logo" class="header__yt-logo">
            </a>

            <a  class="header__hamburger-logo" href="{% url 'homepage' %}">
                <button style="margin-top: 10px; height: 20px; width: 110px; color: white; border-color: transparent; background: #D9232D; margin-right: 30px"
                        href="{% url 'homepage' %}"> Home
                </button>
            </a>
            <br>
            <br>

        </div>
        <div class="search">
        </div>
        <div class="header__icons header__logo">
            <a href="#">
                <img src="" alt="" class="">
            </a>
            <a href="#">
                <img src="" alt="" class="">
            </a>
            <a href="#">
                <img src="" alt="" class="">
            </a>
            {% block logincheck %}{% endblock logincheck %}

        </div>
    </header>
    <div class="main-wrapper">
        <div class="left"></div>
        <main>

            {% block videocontent %}{% endblock videocontent %}


            <aside class="aside">
                {% for value in summary.videos.values %}
                    <a href="{% url 'videoviewer' video=value.name position=value.position %}" class="first-img-aside">
                        <p>{{ value.description }}</p><br>
                        <img width=295px height=178px src="{{ value.image }}" alt="Next video">
                    </a>
                    <br>
                    <br>
                {% endfor %}
            </aside>

        </main>
    </div>
</div>
</body>
</html>